.nav-link{
    margin:1em 1em;
    font-size:1.2rem;
}

.brand-name{
   
    color:#B2B2B2;
    font-size: 2.5rem;
    font-family:  'Sofia Sans', sans-serif;
    font-weight: 400;
    padding-top: 2%;
    padding-left: 20%;
}
.brand-name-part{
  font-size:1.7rem;
  font-weight: 300;

}


.list{
    margin-right:3em;
}

.instaicon{
    padding-left:0.5em;
}





.contact{
    margin:0% 4%;
    padding:5% 0;
}


.brand-cont{
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 2em;
    color:#508571;
   }

   .cont-details{
    padding: 5%;
    font-family: "montserrat";
    font-weight:400;
  }

  .map{
    padding:1% 5%;
  }

   .display{
    width:70%;
    margin:2% 15%;
    box-shadow: 0.5rem 0.5rem 1rem palevioletred;
    
   }


.footer{
    margin:2% auto 2%;
    padding:5% auto;
  }
  
  .footer-div{
      
    width:40%;
    text-align: center;
    margin:0 auto;
  }
  .footer-icon{
    margin:2%;
  }
  
  a{
    text-decoration: none;
    color:#000000;
  }
  .copyright{
    margin:4%;
  }

 @media(min-width:576px) and (max-width:700px){
    .brand-cont{
      text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1.6em;
    color:#508571;
    }

    .display{
      width:100%;
      margin:2% 5%;
      box-shadow: 0.5rem 0.5rem 1rem palevioletred;
      
     }
     .cont-details{
      padding: 5%;
      font-family: "montserrat";
      font-weight:400;
      font-size: 0.8rem;
    }
    .map-cont{
      width:300px;
      height:300px;
    }
  }

  @media(min-width:700px) and (max-width:1100px){
    .brand-cont{
      text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1.8em;
    color:#508571;
    }

    .display{
      width:100%;
      margin:2% 5%;
      box-shadow: 0.5rem 0.5rem 1rem palevioletred;
      
     }
     .cont-details{
      padding: 5%;
      font-family: "montserrat";
      font-weight:400;
      font-size: 1rem;
    }
    .map-cont{
      width:350px;
      height:350px;
    }
  }
  
